# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary
# =========================
temp/
*.tmp

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
node_modules/

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# Docker
# =========================
.docker/

# =========================
# Environment
# =========================
.env
.env.*